:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #292929;
  background-color: #faebd7;
}

.main {
  margin: 0 auto;
  max-width: 80rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  height: 100vh;
}

.title {
  margin: 3rem 0 2rem;
  font-size: 3.5rem;
  font-weight: 700;
}

.accordion {
  list-style: none;
  color: #2f32dd;
}

.accordion:hover {
  color: #292929;
}

.accordion__item {
  border-top: 0.1rem solid #949494;
  cursor: pointer;
}

[type="radio"] {
  display: none;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 0;
   transition: all .3s;
}

.accordion__description {
  font-size: 2rem;
}

.accordion__icon {
  content: url(../img/icon.svg);
  transform: rotate(45deg);
  opacity: 0;
  transition: all .1s;
}

.accordion__body {
  height: 0;
  overflow: hidden;
}

[type="radio"]:checked ~ .accordion__body,
[type="radio"]:hover ~ .accordion__body {
  height: 100%;
}

[type="radio"]:checked ~ .accordion__header {
  color: #292929;
}

[type="radio"]:hover ~ .accordion__header .accordion__icon {
  transform: rotate(0);
  opacity: 1;
}

.accordion:hover .accordion__icon {
  opacity: 1;
}

.accordion__img {
  display: block;
  margin: 0 auto 1.8rem;
  max-width: 100%;
}

